<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <title>Portfolio</title>
</head>
<body style="background-color:rgb(255, 255, 255)">
    {{!-- navigationbar --}}
    {{>navbar}}
    
    <div class="working-h1">
        <h1>Soon my work will be available here</h1>
        <img src="/images/webdevelopment-working.png" alt="">
    </div>

    {{!-- footer --}}
    <div class="footer footerWorking">
        <p>Thanks for visit</p>
    </div>

<script src="/javascript/javascript.js"></script>
</body>
</html>